
<head th:fragment="head">
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/htm; charset=UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>

<div th:fragment="index">
    <a th:href="@{/}">Головна</a>
    <br>
</div>

<div th:fragment="singInUpOut">
    <div th:unless= "${#httpServletRequest.remoteUser}">
        <a th:href="@{/home}">Увійти</a>
        <a th:href="@{/registration}" >Зареєструватися</a>
    </div>
    <form th:action="@{/logout}" method="post" th:if= "${#httpServletRequest.remoteUser}">
        <input type="submit" value="Вийти"/>
    </form>
    <br>
</div>
<header th:fragament="header">
    <ul class="hr">
        <li><a th:href="@{/records}">Перелік втрачених об'єктів</a></li>
        <li><a th:href="@{/addrecord}">Додати об'єкт</a></li>
        <li><a th:href="@{/cabinet}">Особистий кабінет</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/records}">Адміністрування</a></li>
    </ul>
    <br>
</header>


