<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Реєєстрація</title>
  </head>
  <body>
  <div>
    <form th:action="@{/registration}" th:object="${user}" method="post">
      <table>
        <tr>
          <td>Логін :</td>
          <td><input type="text" th:field="*{username}"/></td>
          <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
          <td>Пароль:</td>
          <td><input type="password" th:field="*{password}"/></td>
          <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
          <td>Підтвердження паролю:</td>
          <td><input type="password" th:field="*{confirmPassword}"/></td>
  <!--        <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</td>-->
        </tr>
        <tr>
          <td>
            <input type="submit" value="Зареєструватися"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
  </body>
</html>