<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Головна</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <a th:href="@{/home}" th:unless= "${#httpServletRequest.remoteUser}" >Log in</a>
    <a th:href="@{/registration}" th:unless= "${#httpServletRequest.remoteUser}" >Sign Up</a>
    <form th:action="@{/logout}" method="post" th:if= "${#httpServletRequest.remoteUser}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<p th:text="'Hello, ' + ${title} + '!'" />
</body>
</html>