<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
  <head th:insert="/fragments/fragment :: head"/>
    <body>
      <div th:insert="/fragments/fragment :: index"/>
      <div th:if="${param.error}">
        Ви ввели некоректний логін чи пароль.
      </div>
      <div th:if="${param.logout}">
        Ви вийшли з аккаунту, аторизуйтесь, будь ласка
      </div>
      <form th:action="@{/login}" method="post">
        <table>
          <tr>
            <td>Логін :</td>
            <td><input type="text" name="username"/></td>
          </tr>
          <tr>
            <td>Пароль:</td>
            <td><input type="password" name="password"/></td>
          </tr>
          <tr>
            <td><input type="submit" value="Увійти"/></td>
          </tr>
        </table>
      </form>
    </body>
</html>