<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragment::head"/>
<body>
<div th:insert="fragments/fragment :: index" />
<div>
    <h1> Зміна паролю </h1>
    <form th:action="@{/setNewPassword}" th:object="${userPasswordInput}" method="post">
        <input type="hidden" th:field="*{userId}"/>
        <table>
            <tr sec:authorize="hasAnyRole('ROLE_USER','ROLE_USERADOPED','ROLE_USERREGISTERS')">
                <td>Старий пароль:</td>
                <td><input type="password" th:field="*{oldPassword}"/></td>
                <td/>
            </tr>
            <tr>
                <td>Новий пароль:</td>
                <td><input type="password" th:field="*{newPassword}"/></td>
                <td th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Password Error</td>
            </tr>
            <tr>
                <td>Підтвердження нового паролю:</td>
                <td><input type="password" th:field="*{confirmPassword}"/></td>
                <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Змінити"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>